<html>
    <head>
        <title>Demo</title>
    </head>
    <body>

        <video id="local"   autoplay controls='true'></video>
        <video id="remote1" autoplay controls='true'></video>
        <video id="remote2" autoplay controls='true'></video>

        <input type="button" value="Call"    id='call'>
        <input type="button" value="Receive" id='receive' disabled>
        <input type="button" value="Join"    id='join'>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script src="element.js"></script>
        <script src="socket.js"></script>
        <script src="media.js"></script>
    </body>
</html>